{% extends "dog_walker/base.html" %}
{% load static %}
{% load leaflet_tags %}

{% block navbar %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'dog_walker-generate_walking_route' %}">Create Walking Route</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'dog_walker-view_map' %}">View Map</a>
</li>
{% endblock navbar %}


{% block content %}
{% leaflet_js %}
{% leaflet_css %}

<style type="text/css">
         #gis {width: 100%; height: 600px;}

</style>
<script type="text/javascript" src="{% static 'map/leaflet.ajax.js' %}"></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />
<script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
<script type="text/javascript" src="{% static 'map/graphhopper.js' %}"></script>
<script type="text/javascript">
    var i = 0;
    function grab_point(point, id){
        if(i == 0)
            document.getElementById('start_point').value = id;
        else if(i == 1)
            document.getElementById('end_point').value = id;
        else if(i == 2){
            document.getElementById('middle_point_1').value = document.getElementById('end_point').getValue();
            document.getElementById('end_point').value = id;
        }
        else if(i == 3){
            document.getElementById('middle_point_2').value = document.getElementById('end_point').getValue();
            document.getElementById('end_point').value = id;
        }
        else if(i == 4){
            document.getElementById('middle_point_3').value = document.getElementById('end_point').getValue();
            document.getElementById('end_point').value = id;
        }
        i++;
        var string_point = point.toString();
        var lng = parseFloat(string_point.slice(
            string_point.indexOf('(') + 1,
            string_point.lastIndexOf(' ')));
        var lat = parseFloat(string_point.slice(
            string_point.lastIndexOf(' '),
            string_point.lastIndexOf(')')));
        return L.latLng(lat, lng);
    }

    var key = "9aea8a48-eb69-493c-86b7-e3a4feb8c0d6";
    function add_points(map, options){
        var stuff = L.Routing.control({
            waypoints: [
                 {% for point in points %}
                 grab_point("{{ point.location }}", {{ point.id }}),
                 {% endfor %}
            ],
            draggableWaypoints: false,
            addWaypoints: false,
            router: L.Routing.graphHopper(key , {
                urlParameters: {
                    vehicle: 'foot'
                }
            }),
            routeWhileDragging: false
        }).addTo(map);

        stuff.on('routesfound', function(e) {
            var routes = e.routes;
            document.getElementById('duration').innerHTML = (routes[0].summary.totalTime / 60).toFixed(0) + ' minute(s).';
            document.getElementById('distance').innerHTML = 'Distance:' + (routes[0].summary.totalDistance / 1000).toFixed(1) + ' Km';
            // In Minutes
            document.getElementById('duration_hidden').value = (routes[0].summary.totalTime / 60).toFixed(0)
            });

    }
</script>


<div class="row">
    <div class="col-sm-8">
        {% leaflet_map "gis" callback="window.add_points" %}
    </div>
    <div class="col-sm-4">
        <p class="lead" id="distance"></p>
        <p class="lead" id="duration"></p>
        <form class="form" action="." method="post"> {% csrf_token %}
            <div class="'form-row">
                <label for="route_name">What would you like to call your route?</label>
                <input name="route_name" class="form-control" id="route_name" type="text">
                <input name="duration" id="duration_hidden" type="hidden">
                <input name="start_point" id="start_point" type="hidden">
                <input name="middle_point_1" id="middle_point_1" type="hidden">
                <input name="middle_point_2" id="middle_point_2" type="hidden">
                <input name="middle_point_3" id="middle_point_3" type="hidden">
                <input name="end_point" id="end_point" type="hidden">
            </div>
            <br/>
            <button class="btn btn-primary" type="submit">Save The Route</button>
        </form>
    </div>
</div>


{% endblock content %}