{% extends "dog_walker/base.html" %}
{% load crispy_forms_tags %}

{% block navbar %}

<li class="nav-item">
    <a class="nav-link" href="{% url 'dog_walker-register' %}">Not a member? Click Here to Register</a>
</li>


{% endblock navbar %}


{% block content %}

<style>

body {
 background-image: url("https://images5.alphacoders.com/989/thumb-1920-989173.jpg");
   background-repeat: no-repeat;
  background-size: cover;
}

.login-container{
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: rgba(180,180,180,0.2);
}

.login-form-1{
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-1 h3{
    text-align: center;
    color: #333;
}

.login-container form{
    padding: 10%;
    opacity: 0.9
}
.btnSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}
.login-form-1 .btnSubmit{
    font-weight: 600;
    color: #fff;
    background-color: #0062cc;
}

.login-form-1 .ForgetPwd{
    color: #0062cc;
    font-weight: 600;
    text-decoration: none;
}





</style>


<div class="container login-container">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Log In</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Login</button>
        </div>
    </form>
    <div class="border-top pt-3">
        <small class="text-muted">
            Need An Account? <a class="ml-2" href="{% url 'dog_walker-register' %}">Sign Up Now</a>
        </small>
    </div>
</div>


{% endblock content %}