{% extends "dog_walker/base.html" %}
{% load crispy_forms_tags %}

{% block navbar %}

<li class="nav-item">
    <a class="nav-link" href="{% url 'dog_walker-register' %}">Not a member? Click Here to Register</a>
</li>


{% endblock navbar %}


{% block content %}

<style>

body {
 background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/a/a6/Dog_anatomy_lateral_skeleton_view.jpg/512px-Dog_anatomy_lateral_skeleton_view.jpg");

}

    .login-container{
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: pink;
}
.login-form-1{
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-1 h3{
    text-align: center;
    color: #333;
}

.login-container form{
    padding: 10%;
}
.btnSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}
.login-form-1 .btnSubmit{
    font-weight: 600;
    color: #fff;
    background-color: #0062cc;
}

.login-form-1 .ForgetPwd{
    color: #0062cc;
    font-weight: 600;
    text-decoration: none;
}



</style>


<div class="container login-container">
                <h2>You have been logged out</h2>
    <div class="border-top pt-3">
        <small class="text-muted">
            <a href="{% url 'dog_walker-login' %}">Log In Again</a>
        </small>
    </div>
</div>




{% endblock content %}