{% extends "dog_walker/base.html" %}
{% block navbar %}

<li class="nav-item">
            <a class="nav-link" href="#">Add a Dog</a>
        </li>


{% endblock navbar %}
{% block content %}
<div class="row " style="padding-bottom: 20px;">
    <div class="col-sm-6"  align="center">
        <div class="card" style="width: 35rem;">
            <img src="https://upload.wikimedia.org/wikipedia/commons/4/4c/Chihuahua1_bvdb.jpg"  class="card-img-top" alt="Pic of Dog">
            <div class="card-body">
                <h5 class="card-title">Killer</h5>
                <p class="card-text">Breed: Chihuahua</p>
                <p class="card-text">Weight: 10 lbs</p>
                <p class="card-text">Age: 10 years</p>
                <a href="#" class="btn btn-primary">View More Details</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6" align="center">
        <div class="card" style="width: 35rem;">
            <img src="https://upload.wikimedia.org/wikipedia/commons/4/4c/Chihuahua1_bvdb.jpg" class="card-img-top" alt="Pic of Dog">
            <div class="card-body">
                <h5 class="card-title">Jumper</h5>
                <p class="card-text">Breed: Border Terrier</p>
                <p class="card-text">Weight: 15 lbs</p>
                <p class="card-text">Age: 6 years</p>
                <a href="#" class="btn btn-primary">View More Details</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6" align="center">
          <div class="card" style="width: 35rem;">
            <img src="https://upload.wikimedia.org/wikipedia/commons/4/4c/Chihuahua1_bvdb.jpg" class="card-img-top" alt="Pic of Dog">
            <div class="card-body">
                <h5 class="card-title">Police Dog</h5>
                <p class="card-text">Breed: German Shepherd</p>
                <p class="card-text">Weight: 70 lbs</p>
                <p class="card-text">Age: 8 years</p>
                <a href="#" class="btn btn-primary">View More Details</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6" align="center">
          <div class="card" style="width: 35rem;">
            <img src="https://upload.wikimedia.org/wikipedia/commons/4/4c/Chihuahua1_bvdb.jpg" class="card-img-top" alt="Pic of Dog">
            <div class="card-body">
                <h5 class="card-title">Oldie</h5>
                <p class="card-text">Breed: Jack Russell Terrier</p>
                <p class="card-text">Weight: 15 lbs</p>
                <p class="card-text">Age: 100 years</p>
                <a href="#" class="btn btn-primary">View More Details</a>
            </div>
        </div>
    </div>
</div>


{% endblock content %}

