{% extends "dog_walker/base.html" %}
{% block role %}
    Current Role: Dog Walker
{% endblock %}
{% block navbar %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'dog_walker-my_dogs_homepage' %}">My Dogs</a>
</li>


<li class="nav-item">
    <a class="nav-link" href="{% url 'dog_walker-record_a_walk' %}">Record A Walk</a>
</li>


{% endblock navbar %}

{% block content %}

<style>
    .row
    {
        padding-top:10%;
    }
    .form
    {
        background-color:pink;
        padding: 50px;
    }
</style>

<div class="row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-8">
        <form class="form">
            <div class="form-row">
                <p>Which of your dogs completed the walk?</p>
            </div>

            <div class="form_row">
                {% for dog in dogs %}
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name='{{ dog }}' id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">{{ dog }}</label>
                </div>
                {% endfor %}
            </div>
             <br>
            <div class="form-row">
              <div class="form-group col-sm-4">
                  <label for="walk_route">Which Route did you walk?</label>
                   <select class="form-control" id="walk_route">
                        <!-- add loop for options -->
                         <option value="route1">Cool Walk</option>
                     </select>
                </div>
                <div class="form-group col-sm-4">
                    <label for="walk_start">When did you start your walk?</label>
                    <input type="time" class="form-control" id="walk_start" value="12:00">
                </div>
                 <div class="form-group col-sm-4">
                    <label for="walk_end">When did you end your walk?</label>
                    <input type="time" class="form-control" id="walk_end" value="12:00">
                </div>
            </div>
            <div class="form-row">
                 <label for="walk_date">What date did you complete the walk?</label>
                    <input type="date" class="form-control" id="walk_date" value="2015-01-01" min="1980-01-01">
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Record Walk</button>
        </form>
    </div>
    <div class="col-sm-2">
    </div>
</div>

<script>
var today = new Date();
var dd = today.getDate();
var mm = today.getMonth()+1; //January is 0!
var yyyy = today.getFullYear();
 if(dd<10){
        dd='0'+dd
    }
    if(mm<10){
        mm='0'+mm
    }
today = yyyy+'-'+mm+'-'+dd;
document.getElementById("walk_date").setAttribute("max", today);
document.getElementById("walk_date").setAttribute("value", today);
</script>
{% endblock content %}