{% extends "dog_walker/base.html" %}
{% block role %}
Current Role: Dog Owner
{% endblock %}
{% block navbar %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'dog_walker-my_dogs_homepage' %}">My Dogs</a>
</li>

{% endblock navbar %}

{% block content %}


<style>
    .row
    {
        padding-top:10%;
    }
    .form
    {
        background-color:rgba(180,180,180,0.6);
        padding: 80px;
    }



</style>

<div class="row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-8">
        <form class="form" action="{% url 'dog_walker-record_a_walk_saved_walking_route' %}" method="post"> {% csrf_token %}
            <div class="form_row">
                <label for="dog_name">Which Dog did you take on a Walk?</label>
                <select class="form-control" name="dog_name" id="dog_name">
                    {% for dog in dogs %}
                    <option value="{{ dog }}">{{ dog }}</option>
                    {% endfor %}
                </select>
            </div>
            <br>
            <div class="form-row">
                <div class="form-group col-sm-4">
                    <label for="walk_distance">How far did you walk? (KM)</label>
                    <input type="number" class="form-control" name="walk_distance" id="walk_distance">
                </div>
                <div class="form-group col-sm-4">
                    <label for="walk_start">When did you start your walk?</label>
                    <input type="time" class="form-control" name="walk_start" id="walk_start" value="12:00">
                </div>
                <div class="form-group col-sm-4">
                    <label for="walk_end">When did you end your walk?</label>
                    <input type="time" class="form-control" name="walk_end" id="walk_end" value="12:00">
                </div>
            </div>
            <div class="form-row">
                <label for="walk_date">What date did you complete the walk?</label>
                <input type="date" class="form-control" name="walk_date" id="walk_date" value="2015-01-01"
                       min="1980-01-01">
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Record Walk</button>
        </form>
    </div>
    <div class="col-sm-2">
    </div>
</div>

<script>
var today = new Date();
var dd = today.getDate();
var mm = today.getMonth()+1; //January is 0!
var yyyy = today.getFullYear();
 if(dd<10){
        dd='0'+dd
    }
    if(mm<10){
        mm='0'+mm
    }
today = yyyy+'-'+mm+'-'+dd;
document.getElementById("walk_date").setAttribute("max", today);
document.getElementById("walk_date").setAttribute("value", today);



</script>
{% endblock content %}
