{% extends "dog_walker/base.html" %}
{% load static %}
{% load leaflet_tags %}

{% block navbar %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'dog_walker-add_a_poi' %}">Add a Point of Interest</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'dog_walker-generate_walking_route' %}">Create Walking Route</a>
</li>

{% endblock navbar %}


{% block content %}
{% leaflet_js %}
{% leaflet_css %}

<style type="text/css">
         #gis {width: 100%; height: 750px;}

</style>
<script type="text/javascript" src="{% static 'map/leaflet.ajax.js' %}"></script>

<script type="text/javascript">

    function add_points(map, options) {
        var datasets = new L.GeoJSON.AJAX("{% url 'poi_dataset' %}", {
            onEachFeature: function(feature, layer) {
                layer.bindPopup(feature.properties.name);
                layer.setIcon(new L.Icon({iconUrl:"/static/map/" +
                    feature.properties.category +
                    ".png",
                    iconSize:   [18, 18],
                    iconAnchor: [9, 13]}))

                layer.on('click', function() {
                    header = document.getElementById('poi_name');
                    header.innerHTML = feature.properties.name;
                    description = document.getElementById('poi_description');
                    description.innerHTML = feature.properties.description;
                });
            }
        });
        datasets.addTo(map);
    }

</script>


<div class="row">
    <div class="col-sm-8">
        {% leaflet_map "gis" callback="window.add_points" %}
    </div>
    <div class="col-sm-4">
        <h1 class="display-5" id="poi_name"></h1><br>
        <p class="lead" id="poi_description"></p>
    </div>
</div>


{% endblock content %}