{% extends "dog_walker/base.html" %}
{% block role %}
    Current Role: Dog Trainer
{% endblock role %}
{% load static %}
{% load leaflet_tags %}

{% block navbar %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'dog_trainer-my_classes' %}">My Classes</a>
</li>
{% endblock navbar %}


{% block content %}
{% leaflet_js %}
{% leaflet_css %}

<style type="text/css">
         #gis {width: 100%; height: 600px;}
    body{
    color: black;
    }


</style>
<script type="text/javascript" src="{% static 'map/leaflet.ajax.js' %}"></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css"/>
<script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
<script type="text/javascript" src="{% static 'map/graphhopper.js' %}"></script>
<script type="text/javascript">
    function grab_point(point){
        var string_point = point.toString();
        var lng = parseFloat(string_point.slice(
            string_point.indexOf('(') + 1,
            string_point.lastIndexOf(' ')));
        var lat = parseFloat(string_point.slice(
            string_point.lastIndexOf(' '),
            string_point.lastIndexOf(')')));
        return L.latLng(lat, lng);
    }

    var key = "9aea8a48-eb69-493c-86b7-e3a4feb8c0d6";
    function add_points(map, options){
        var stuff = L.Routing.control({
            waypoints: [
                 {% for point in points %}
                 grab_point("{{ point }}"),
                 {% endfor %}
            ],
            draggableWaypoints: false,
            addWaypoints: false,
            router: L.Routing.graphHopper(key , {
                urlParameters: {
                    vehicle: 'foot'
                }
            }),
            routeWhileDragging: false
        }).addTo(map);
    }



</script>


<div class="row">
    <div class="col-sm-8">
        <div class="border border-dark">
        {% leaflet_map "gis" callback="window.add_points" %}
        </div>
    </div>
    <div class="col-sm-4">
        <table class="table table-dark">
            <tbody>
            <tr>
                <th scope="row">Class Name</th>
                <td>{{ class.class_name }}</td>
            </tr>
            <tr>
                <th scope="row">Date</th>
                <td>{{ class.class_date }}</td>
            </tr>
            <tr>
                <th scope="row">Time</th>
                <td>{{ class.class_time }}</td>
            </tr>
            <tr>
                <th scope="row">Duration</th>
                <td>{{ class.walking_route_id.walking_route_duration }}</td>
            </tr>
            <tr>
                <th scope="row">Current Registered</th>
                <td>{{ class.class_participants }}</td>
            </tr>
            <tr>
                <th scope="row">Max Registered</th>
                <td>{{ class.class_max_participants }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


{% endblock content %}