{% extends "dog_walker/base.html" %}
{% block navbar %}
{% endblock navbar %}
{% block role %}
Current Role: Dog Owner
{% endblock role %}
{% block content %}

<script>
    function submit_form(class_id) {
        document.getElementById('class_id').value = class_id;
        document.getElementById('my_form').submit();
    }
</script>

<div class="row">
    <div class="col-sm-1"></div>

    <div class="col-sm-10">
        <div class="row">
            <h1 class="display-2">Join A Class</h1>
        </div>
        <div class="row" style="padding-top: 20px;">
            <table class="table table-hover table-striped table-dark" style="opacity:0.9">
                <thead>
                <tr>
                    <th scope="col" class="h1">Class Name</th>
                    <th scope="col" class="h1">Instructor</th>
                    <th scope="col" class="h1">Date</th>
                    <th scope="col" class="h1">Time</th>
                    <th scope="col" class="h1">Duration</th>
                    <th scope="col" class="h1">Route</th>
                    <th scope="col" class="h1">Current Registered</th>
                    <th scope="col" class="h1">Max Registered</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {% for class in classes %}
                <tr>
                    <td class="h3">{{ class.class_name }}</td>
                    <td class="h3">{{ class.class_instructor.first_name }} {{ class.class_instructor.last_name }}</td>
                    <td class="h3">{{ class.class_date }}</td>
                    <td class="h3">{{ class.class_time }}</td>
                    <td class="h3">{{ class.walking_route_id.walking_route_duration }} Mins</td>
                    <td class="h3">{{ class.walking_route_id.walking_route_name }}</td>
                    <td class="h3">{{ class.class_participants }}</td>
                    <td class="h3">{{ class.class_max_participants }}</td>
                    <td><a href="../view_class_detail_dog_walker/{{ class.class_instructor }}'s-{{ class.class_name }}/" class="btn btn-primary">View More Details</a></td>
                    <td><button class="btn btn-primary" onclick="submit_form('{{ class.id }}')"> Join The Class</button></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-sm-1"></div>
    </div>
</div>
<form class="form" id="my_form" action="." method="post">{% csrf_token %}
    <input type="hidden" id="class_id" name="class_id" value="">
</form>

{% endblock content %}